@import '../../styles/variables.css';

.googleMapLabel {
  color: #fff;
  background: $green;
  padding: 12px 7px;
  display: inline-flex;
  text-align: center;
  align-ttems: center;
  justify-content: center;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}
